@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

body {
  @apply bg-black;
  @apply text-white;
  font-family: OpenSans;
  overflow-x: hidden;
}

.text-2xl {
  font-size: 24px;
}

.text-2xl-1 {
  font-size: 20px;
}

.text-6xl-1 {
  font-size: 35px;
}

.text-4xl {
  font-size: 64px;
}

.mapitem .circle-outside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00DFD8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.1;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.mapitem .circle-inside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00DFD8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.mapitem .circle-dian {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
  background: #00DFD8;
  opacity: 1;
  z-index: 4;
}

.mapitem .circle_box {
  width: 44px;
  height: 37px;
  position: relative;
  transform: rotateX(50deg);
}

.mapitem {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapitem .mapicon {
  top: -12px;
  left: 8px;
  position: absolute;
  width: 24px;
  height: 31px;
}

.mapitem .circle-outside {
  animation: circle_outside 4500ms ease-out 3250ms infinite;
}

.mapitem .circle-inside {
  animation: circle_inside 4500ms ease-out 500ms infinite;
}

.map-img {
  width: 1207px;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.px45 {
  font-size: 45px;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/sansation/Sansation_Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@keyframes circle_inside {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes circle_outside {
   0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
